@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Inter, Helvetica, sans-serif;
}

body {
    height: 100%;
    background-color: #FFFBF9;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
    color: #fff;
}

main {
    height: 100%;
}

/*-----------------Header-----------------*/
.header_all {
    width: 100%;
    height: 71px;
    background: linear-gradient(#B7AEE3, #938DB0);
    box-shadow: 0px 8px 20px 6px #00000040;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.header_buscador {
    background-color: hsla(250, 100%, 96%, 0.51);
    width: 256px;
    height: 38px;
    top: 35px;
    left: 274px;
    border-radius: 10px;
    border: 2.5px hsla(0, 0%, 100%, 0.49) solid;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.header_buscador_placeholder {
    color: hsla(0, 0%, 100%, 1)
}

.header_nav-bar {
    display: flex;
    margin: auto 183px auto 0;
}

.nav-bar_categorias {
    margin: 0px 20px;
    list-style: none;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    border-bottom: 3px solid transparent;
}

.nav-bar_categorias:hover {
    border-bottom: 3px #FFF solid;
}

.header_pop-up {
    position: absolute;
    width: 190px;
    height: 101px;
    left: 92.36%;
    top: 9%;
    background: #C4C3E3;
    box-shadow: 0px 8px 35px 10px rgba(138, 139, 152, 0.56);
    border-bottom-left-radius: 50% 100%;
    border-bottom-right-radius: 50% 100%;
    transform: rotate(90deg);
    z-index: 1;
}


.pop-up_items {
    background: #AEA9E5;
    box-shadow: inset 0px 0px 15px 5px rgba(0, 0, 0, 0.24);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-90deg);
}

.pop-up_items:hover {
    transform: scale(1.1) rotate(-90deg);
    transition: all 1s;

}


.item_telefono {
    width: 68px;
    height: 67px;
    position: relative;
    top: 7px;
    left: -27px;

}

.item_mail {
    width: 75px;
    height: 75px;
    position: relative;
    right: -50px;
}

.item_whatsapp {
    width: 76px;
    height: 76px;
    position: relative;
    bottom: 134px;
    right: -127px;
}


/*-----------------Main-----------------*/

.carousel {
    margin: 98px auto 0 auto;
    width: 900px;
    height: 516px;
}


/*------emociones-------*/
.emociones {
    background-color: #E5E8F8;
    height: 513px;
    margin: 0 auto 230px auto;
}

.emociones h3 {
    color: #556AB5;
    font-weight: 400;
    font-size: 40px;
    padding: 29px 0 0 48px;
}

.emociones h2 {
    color: #6570AB;
    font-weight: 700;
    font-size: 40px;
    display: flex;
    justify-content: center;
    margin: 15px;

}

.emociones_texto {
    color: #7F85A3;
    font-weight: 500;
    font-size: 25px;
    margin: 40px 56px;
}

.emociones_caras {
    display: flex;
    justify-content: space-around;
}

.contenedor_seccion_caras {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.emociones_caja_img {
    width: 176px;
    height: 180px;
    border-radius: 17%;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 25px 15px #B9C3E796;
    display: flex;
    justify-content: center;
    align-items: center;
}

.emociones_caras_texto {
    width: 239px;
    height: 65px;
    border-radius: 39px;
    background-color: #BAC3F3;
    box-shadow: 0px 0px 15px 1px #00000036 inset;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 7.5%;
}

.emociones_caras_texto p {
    color: #FFFFFF;
    font-size: 25px;
    font-weight: 700;
    align-self: end;
}


.emociones_caras_flechas {
    display: flex;
    flex-direction: column;
}

.emociones_caras_flechas img {
    width: 94px;
    height: 80px;
    position: relative;
    bottom: 37px;
}

.slide-bottom {
    -webkit-animation: slide-bottom 1s linear infinite alternate both;
    animation: slide-bottom 1s linear infinite alternate both;
}

@-webkit-keyframes slide-bottom {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
    }
}

@keyframes slide-bottom {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
    }
}

/*-----------------Modal Emociones-----------------*/
.modal_emociones_container {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);


}

.modal {
    background: linear-gradient(#E5E8F8, #FFF8F8);
    height: 795px;
    width: 1174px;
    border: 5px solid #E5E8F8;
    border-radius: 37px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    position: relative;
    transition: transform 1s;
    transform: translateY(0%);
    color: #670179;

}

.modal-close {
    transform: translateY(-200%);
}

.cerrar_modal_emociones {
    position: absolute;
    top: 2%;
    right: 2%;
    cursor: pointer;
    color: #BAC3F3;
    font-weight: 700;
    font-size: 50px;
}

.modal h2 {
    color: #6570AB;
    font-size: 50px;
    font-weight: 700;
}

.modal p {
    color: #6570AB;
    font-weight: 400;
    font-style: italic;
    font-size: 50px;

}

.modal div p {
    color: #6B719A;
    font-weight: 200;
    font-size: 35px;
}



/*-----------------SeccionInicio-----------------*/

#seccionInicio #contenedor {
    width: 57%;
    margin: auto;
    padding: 20px;
    display: flex;
    align-items: center;
}

#seccionInicio .alreves {
    display: flex;
    flex-direction: row-reverse;


}

#seccionInicio div {
    width: 400px;
    margin: auto;
    text-align: center;
}


#seccionInicio img {
    height: auto;
    margin-right: 20px;
    transition: transform 0.3s ease-in-out;
    border-radius: 15%;
}


#seccionInicio img:hover {
    transform: scale(1.2);
}


#seccionInicio #btn-ver-mas {
    background-color: hsl(310, 38%, 67%);
    width: 468px;
    height: 82px;
    top: 35px;
    left: 274px;
    border-radius: 20px;
    border: 2.5px hsla(0, 0%, 100%, 0.49) solid;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

#seccionInicio #btn-ver-mas a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 36px;

}


#seccionInicio #btn-ver-mas:hover {
    background-color: #9993b761;
}

/*-----------------Footer-----------------*/
footer {
    font-size: 23px;
    font-weight: 700;
    color: white;
    width: 100%;
    bottom: 0px;
    height: 222px;
    background-color: #9993B7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.logo-fundacion {
    margin: 57px;
}

footer div {
    margin-right: 45px;
    text-align: right;
}

footer div p {
    margin: 7px auto;
}

footer div p a {
    text-decoration: none;
    color: white;
}

.footer-ubi {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.footer-ubi img {
    margin-right: 10px;
}



/*-------------------------------- INFORMACIÓN -------------------------------------------*/
.container-logo-guia {
    text-align: right;
}

.container-logo-guia img {
    margin: 78px 173px 0 0;
}

.container-guia-informativa h1 {
    text-align: left;
    font-size: 45px;
    font-weight: 700;
    color: #746788;
    margin: -13px 0 0 238px;
}

.linea-guia {
    margin: 9px 0 0 238px;
}

.container-info-guia {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container-info-guia img {
    object-fit: contain;
    margin-left: 84px;
}

.container-info-guia p {
    margin: 10px 101px 0 31px;
    font-size: 16px;
    font-weight: 500;
    color: #7F85A3;
    text-align: center;
    width: 580px;
}

.linea-guia-dos {
    margin: 50px 0 0 376px;
}

.container-info-menu {
    display: flex;
    position: relative;
}

.menu-lateral {
    border: solid 5px #CEC5D6;
    width: 300px;
    height: 572px;
    margin-left: 48px;
    overflow-y: scroll;
    padding: 10px;
    position: sticky;
    top: 40px;
}

/* Ancho de la barra de desplazamiento */
.menu-lateral::-webkit-scrollbar {
    width: 3px;
}

/* Color de la barra de desplazamiento */
.menu-lateral::-webkit-scrollbar-thumb {
    background-color: #746788;
}

.menu-lateral ul {
    padding: 0;
    color: #746788;
    list-style: none;
}

.menu-lateral a {
    font-family: raleway, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 700;
    display: block;
    padding: 10px;
    color: #746788;
}

.menu-lateral .subtitulo {
    line-height: 7px;
    font-size: 16px;
    margin-left: 15px;
    font-weight: 500;
    color: #7F85A3;
    position: relative;
}

.menu-lateral .subtitulo:hover {
    font-weight: 600;
}

.menu-lateral .subtitulo:hover::before {
    content: url("../img/general/vertical-line.png");
    vertical-align: middle;
    position: absolute;
    left: -15px;
    top: 50%;
    transform: translateY(-50%);
}

.container-info-general {
    width: 852px;
    margin-top: 45px;
    margin-left: 39px;
    flex: 1;
}

.container-info-menu h2 {
    font-size: 28px;
    font-weight: 700;
    color: #746788;
}

.container-info-menu h3 {
    font-size: 24px;
    font-weight: 600;
    color: #8C7D98;
}

.container-info-menu h4 {
    font-weight: 600;
    font-size: 18px;
    color: #ADAFD9;
}

.container-cuidado-neo h5,
.container-nutricion h5 {
    font-size: 16px;
    color: #7F85A3;
    font-weight: 700;
}

.container-info-menu p,
.container-info-menu li {
    font-weight: 500;
    font-size: 16px;
    color: #7F85A3;
}

.carousel.slide.bienestar {
    margin: 0;
    margin-top: 33px;
    width: 925px;
}

.container-ropa-pañales ol,
.container-ropa-info-img div li,
.container-alimentacion li,
.container-cuidados-casa li,
.container-madres-fuertes li {
    margin-top: 10px;
}

.container-alimentacion h4,
.container-cuidado-neo h5,
.container-madres-fuertes h4 {
    margin-top: 25px;
}

.container-cuidado h3,
.container-madres-fuertes,
.container-nutricion,
.container-alta,
.container-cuidado,
.container-controles,
.container-banner-info,
.container-cuidado-neo,
.container-info-neo,
.container-cuidados-padres,
.container-piel-a-piel,
.container-alimentacion,
.container-ropa-pañales,
.container-familia,
.container-hospitales {
    margin-top: 45px;
}

.container-hospitales div,
.container-familia h3,
.container-ropa-pañales h3,
.container-alimentacion h3,
.container-piel-a-piel h3,
.container-cuidados-padres h3,
.container-info-neo h3,
.container-cuidado h3,
.container-alta h3,
.container-nutricion h3,
.container-nutricion h4 {
    text-align: center;
}

.container-cuidados-casa,
.container-info-nutricion {
    margin-top: 18px;
    display: flex;
}

.info-nutricion-izq {
    width: 415px;
}

.info-nutricion-der {
    width: 388px;
    margin-left: 81px;
}

.container-alta img {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 45px;
    display: block;
}

.container-cuidados-casa ul {
    width: 516px;
}

.container-cuidados-casa img {
    object-fit: contain;
    margin-left: 30px;
}

.container-cuidado-neo h3,
.container-controles h3 {
    margin-bottom: 20px;
}

.container-alimentacion-img-info,
.container-cuidados-img-info,
.container-neo-info-img,
.container-estetoscopio {
    display: flex;
}

.container-estetoscopio div {
    margin-left: 36px;
}

.container-cuidado-neo h4 {
    margin-top: 30px;
    margin-bottom: 15px;
}

.container-cuidado-neo div {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 15px;
    margin-left: 40px;
    display: flex;
    align-items: center;
}

.container-cuidado-neo div img {
    vertical-align: middle;
}

.container-cuidado-neo div p {
    margin-left: 25px;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 25px;
}

.container-cuidados-padres h3,
.container-info-neo h3 {
    margin-bottom: 30px;
}

.container-neo-img {
    margin-left: 25px;
}

.container-cuidados-img-info img,
.container-estetoscopio img,
.container-neo-info-img.lavarse-manos img,
.container-neo-img img {
    object-fit: contain;
}

.container-neo-img ul {
    list-style-type: none;
    padding-left: 10px
}

.container-neo-img li {
    background: url('../img/informacion/viñeta-corazon.png') no-repeat left center;
    padding-left: 40px;
}

.container-neo-info-img.lavarse-manos {
    justify-content: space-evenly;
}

.container-cuidados-img-info div {
    width: 357px;
    margin-left: 45px;
}

.container-piel-a-piel h3 {
    margin-bottom: 35px;
}

.container-tips-piel-img {
    display: flex;
    justify-content: space-evenly;
}

.container-tips-piel-img img {
    display: block;
    margin-top: 10px;
    margin-bottom: 40px;
}

.container-tips-piel {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.container-alimentacion-imgs img,
.container-tips-piel img {
    display: block;
}

.container-alimentacion-imgs {
    display: flex;
    margin-top: -30px;
}

.container-alimentacion-imgs div:nth-child(1) {
    width: 230px;
    height: 369px;
    margin-top: 70px;
}

.container-alimentacion-imgs div:nth-child(1) img:nth-child(2) {
    margin: 0px
}

.container-alimentacion-imgs div:nth-child(1) img:nth-child(1),
.container-alimentacion-imgs div:nth-child(1) img:nth-child(3) {
    margin-left: 100px
}

.container-alimentacion-imgs div:nth-child(2) {
    margin-left: 60px;
}

.container-alimentacion div ul {
    list-style-type: none;
    padding-left: 10px;
}

.container-alimentacion div li {
    background: url('../img/informacion/viñeta-pulgar-arriba.png') no-repeat left center;
    padding-left: 35px;
}

.container-ropa-info-img {
    display: flex;
    justify-content: center;
    margin-top: -150px;
}

.container-ropa-info-img img {
    object-fit: contain;
    display: block;
}

.container-ropa-info-img div {
    width: 523px;
    margin-left: 35px;
    margin-top: 160px;
}

.container-uso-pañal {
    display: flex;
    justify-content: space-evenly;
}

.container-uso-pañal img {
    display: block;
    margin-bottom: 70px;
}

.container-ropa-pañales li {
    margin-top: 5px;
    padding-left: 30px;
}

.container-info-visitas {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

.container-info-visitas div p {
    width: 545px;
}

.container-info-visita img {
    display: block;
    object-fit: contain;
}

.container-hospitales h2 {
    margin-top: 70px;
}

.container-hospitales div {
    margin: auto;
    vertical-align: middle;
}

/*------------------Comunidad------------------*/

.container_comunidad{
  width: 80%;
  margin: auto;
}

.introduccion_comunidad h1{
  font-weight: 700;
  font-size: 60px;
  color: #746788;
  margin-top: 100px;
}

.introduccion_comunidad_img {
    display: flex;
    height: 900px;
    width: auto;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
}

.publicaciones h2{
  color: #746788;
  font-weight: 700;
  font-size: 55px;
}

.publicaciones h3{
  color: #746788;
  font-weight: 700;
  font-size: 35px;
  font-family: 'Raleway', sans-serif;
  margin: 10px;
  
}

.publicaciones h4{
  color: #746788;
  font-weight: 400;
  font-size: 35px;
  font-family: 'Raleway', sans-serif;
  margin: 10px;
  padding-left: 40px;
}

.publicaciones p{
  color: #7F85A3;
  font-weight: 500;
  font-size: 24px;
}

.historias{
  display: flex;
  margin-bottom: 100px;
}

.historias p {
  margin: 20px;
}
.historias img{
  width: 100%;
  height: auto;
}
.compartir_historias{
  margin-top: 20px;
}

.compartir_historias h2{
  color: #746788;
  font-weight: 700;
  font-size: 55px;
}

.compartir_historias p{
  font-weight: 400;
  font-size: 25px;
  font-family: 'Raleway', sans-serif;
  color: #979BB3;
}

.ver_mas_comunidad{
  display:flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 50px;
}

.flecha_abajo_comunidad{
  width: 55px;
  height: 55px;
}
.flecha_abajo_comunidad img{
  width: 100%;
  height: auto;
}

.ver_mas_comunidad p{
  font-weight: 400;
  font-size: 35px;
  font-family: 'Raleway', sans-serif;
}

.comunidad_form{
  width: 80%;
  height: 880px;
  margin: 20px auto;
}

.comunidad_form-campos{
  display: grid;
  grid-template-columns:1fr 1fr;
  grid-template-rows: auto;
  column-gap: 40px;
  row-gap: 40px;
}

.comunidad_form-campos input:nth-child(3){
  grid-column-start: span 2;
}

.comunidad_form-campos textarea:nth-child(4){
  grid-column-start: span 2;
}
.comunidad_form input, .comunidad_form textarea{
  background: #FFFFFF;
  border: 4px solid #EAE5EB;
  border-radius: 20px;
  font-weight: 400;
  font-size: 35px;
  font-family: 'Raleway', sans-serif;
  color: #A9ADC4;
  padding-left: 26px;
} 

.redactar_historia{
  width: 100%;
  height: 460px;
}

.enviar_foto{
  position: relative;
  display: inline-block;
  width: 100%;
  margin: 20px auto;
}

.enviar_foto::before {
  width: 400px;
  height: 50px;
  background-color: #9993B7;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 23px;
  content: 'Añadir Foto';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 27px;
  font-weight: 700;
  box-shadow: 0px 0px 10px 0px #40376E inset;
  box-shadow: 0px 0px 4px 10px #51477740 inset;
  box-shadow: 0px 4px 6px 3px #00000040; 
}

.enviar_foto input[type="file"] {
  opacity: 0;
  width: 400px;
  height: 50px;
  display: inline-block;
}

.btn_submit{
  display: flex;
}
.btn_submit input{
width: 400px;
height: 50px;
margin: auto;
font-family: 'Raleway', sans-serif;
font-size: 27px;
font-weight: 700;
color: #FFFFFF;
background: #9993B7;
box-shadow: 0px 0px 10px 0px #40376E inset;
box-shadow: 0px 0px 4px 10px #51477740 inset;
box-shadow: 0px 4px 6px 3px #00000040;
border-radius: 23px;
}

.btn_submit input:hover{
  background: #756E9D;
}

